html::-webkit-scrollbar{

    width: 10px;
    background: blueviolet;
}

html::-webkit-scrollbar-thumb{
    width: 10px;
    background: blueviolet;
}

html::-webkit-scrollbar-track{
    width: 10px;
    background: black;
}


#background{

    background: url(../images/commerical-img/commerical.png);
    height: 80vh;
}


.commerical_content{

    position: absolute;
    top: 50%;
    left: 10%;
}

.commerical_content h2{

    color: white;
    text-transform: uppercase;
    line-height: 2.2rem;
    padding-bottom: 1rem;
}



.commerical_content p{

    color: white;
    line-height: 1.7rem;
    padding-bottom: 1rem;
}

/* choose section start */

.choose_content{
    padding-top: 4rem;
    text-align: center;
}

.choose_content p{
    padding-top: 2rem;
    line-height: 1.7rem;
    text-align: center;
}


/* provide wraper start */

#provide_wraper{
    margin-top: 2rem;
    height: 100vh;
    background: #F8F8F8;
}

#provide_wraper h1{

    padding-top: 3rem;
    font-weight: 300;
}


.provide_wraper{

    max-width: 70vw;
    margin: 3rem auto;

}

.card{
    margin-top: 2rem;
    width: 500px;
}
.provide_wraper .card .image img{

    height: 80px;
}


#brands h1{

    text-align: center;
    padding-bottom: 1rem;
}

#brands_wraper{

    margin-top: 2rem;

}

.card .images img{
    display: block;
    margin: auto;
    width: 250px;
}

.content h3{

    text-align: center;
    font-weight: 200;
}


#testimonails{

    padding-top: 5rem;
}


#testimonails h1{

    text-align: center;
}


.cardd{
    padding: 2rem;
    margin-left: 1rem;
    width: 350px;
    box-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.7);
}


.title h2{

    padding-top: 1rem;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 2rem;
}



.cardd .title p{

    text-align: justify;
    line-height: 1.7rem;
}

.cardd .image img{

    display: block;
    margin: auto;
    border-radius: 50%;
    height: 100px;
}



#news{

    margin-top: 6rem;
}


.news_content{
    text-align: center;
}

.news_content h1{

    font-weight: 300;
    padding-bottom: 1rem;
}

.news_content p{

    padding-bottom: 1rem;
}


.news_content button{

    padding: 0.7rem 4rem;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background: #0070BB;
}











